<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>用户管理系统</title>
</head>
<body>
<div>
  {% if result %}
  <p style="color:red">{{ result }}</p>
  {% endif%}
  <form id="addForm" action='/login' method='post' accept-charset="UTF-8">
        <div>
            <label>用户名：</label>
            <input id='name' type='text' name='name'>
        </div> <!-- name -->
        
        <div>
            <label>密码：</label>
            <input id='password' type='password' name='password'>
        </div><!-- password-->
        
        <div>
            <button type="submit">登录</button>
            <button >注册</button>
        </div> <!--button-->

    </form><!--form end-->

</div>
</body>
</html>




